<div *ngIf="covid19Data">
<div class= "card">
  <div class="card-header">
    <h6>WorldWide  Today Statics</h6>
    <p>{{(covid19Data.updated | date) }} </p>
  </div>
  <div class="card-body">
    <p> Comfirms cases: <span>+{{covid19Data.todayCases}}</span></p>
    <p>Deaths: <span>+{{covid19Data.todayDeaths}}</span></p>
  </div>
</div>
<hr>
<div class= "card">
  <div class="card-header">
    <h6>WorldWide Total Statics</h6>
  </div>
  <div class="card-body">
    <p> Comfims cases: <span>+{{covid19Data.todayCases}}</span></p>
    <p>deaths: <span>+{{covid19Data.todayDeaths}}</span></p>
    <p>Recovered <span>{{covid19Data.recovered}}</span></p>
    <p>Crtical <span>{{covid19Data.criticla}}</span></p>
    <p>Active <span>{{covid19Data.active}}</span></p>
    <p>Test <span>{{covid19Data.tests}}</span></p>
  </div>
</div>

</div>
