<div>
  <h6>WorldWide</h6>
  <span>{{today | date}} time ago</span>
</div>
<hr>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Comfirms</th>
        <th>Recover</th>
        <th>Deaths</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

